/* mobile */
.accessories-container {
    display: grid;
    grid-template-columns: 1fr; /* Single column for mobile */
    gap: 10px;
    margin-top: 20px;
    padding: 10px;
  }
  
  .accessory-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .accessory-item label {
    margin-left: 10px;
    font-size: 14px;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  /* Selected accessories list */
  .selected-accessories {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .selected-accessories li {
    padding: 5px;
    background-color: #f0f0f0;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  /* tablet */
  @media only screen and (min-width: 600px) {
    .accessories-container {
      grid-template-columns: repeat(2, 1fr); /* Two columns for tablet */
    }
  
    .accessory-item label {
      font-size: 16px;
    }
  }
  
  /* desktop */
  @media only screen and (min-width: 1024px) {
    .accessories-container {
      grid-template-columns: repeat(3, 1fr); /* Three columns for desktop */
      gap: 20px;
      padding: 20px;
    }
  
    .accessory-item label {
      font-size: 18px;
    }
  
    .selected-accessories li {
      font-size: 16px;
    }
  }
  