/* src/styles/CarBrandPage.css */
.brand-logo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  
  .containerCarbrand {
     display: flex;
     justify-content: space-around 
  }
  
  .logoCarbrand {
    object-fit: cover;
    width: 100px;
    height: 100px;
    transition: transform 0.2s ease; 
  }
  
  .logoCarbrand:hover {
    transform: scale(1.1);
  }
  