/* mobile */

.containerCarbrand {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
}

.logoCarbrand {
  object-fit: cover;
  width: 80px; /* Smaller logo for mobile */
  height: 80px; /* Smaller logo for mobile */
  transition: transform 0.2s ease;
}

.logoCarbrand:hover {
  transform: scale(1.1);
}

/* tablet */
@media only screen and (min-width: 600px) {
  
  .containerCarbrand {
    justify-content: space-around;
    margin: 15px;
    grid-template-columns: 1fr 1fr;
  }

  .logoCarbrand {
    width: 90px; /* Slightly larger logo for tablet */
    height: 90px;
    margin: 3rem;
  }
}

/* desktop */
@media only screen and (min-width: 1024px) {

  .containerCarbrand {
    margin: 20px;
    display: flex;
  }

  .logoCarbrand {
    width: 100px; /* Default size for desktop */
    height: 100px;
  }
}
