/* mobile */
.color-grid {
  display: flex;
  flex-direction: column; /* Stack items vertically on mobile */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0; /* Reduce margin for mobile */
}

.color-item {
  display: inline-block;
  text-align: center;
  margin: 10px 0; /* Reduce margin for mobile */
  cursor: pointer;
}

.color-swatch {
  display: block;
  width: 80px; /* Smaller size for mobile */
  height: 80px;
  border-radius: 50%; /* Makes the div a circle */
  margin: 0 auto;
}

/* tablet */
@media only screen and (min-width: 600px) {
  .color-grid {
    flex-direction: row; /* Arrange items in a row for tablets */
    justify-content: space-around;
    margin: 15px 0;
  }

  .color-item {
    margin: 15px;
  }

  .color-swatch {
    width: 90px; /* Larger size for tablets */
    height: 90px;
  }
}

/* desktop */
@media only screen and (min-width: 1024px) {
  .color-grid {
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
  }

  .color-item {
    margin: 20px;
  }

  .color-swatch {
    width: 100px; /* Default size for desktop */
    height: 100px;
  }
}
