/* mobile */
.model-grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  margin-top: 20px;
}

.model-item {
  text-align: center;
  margin: 10px 0; /* Reduce margin for mobile */
  cursor: pointer;
}

.model-image {
  width: 100px; /* Smaller images for mobile */
  height: auto;
  transition: transform 0.2s ease;
}

.model-image:hover {
  transform: scale(1.1);
}

/* tablet */
@media only screen and (min-width: 600px) {
  .model-grid {
    flex-direction: row; /* For tablet, display in rows again */
    justify-content: space-around;
    grid-template-columns: 1fr 1fr;
  }

  .model-item {
    margin: 15px;
  }

  .model-image {
    width: 125px; /* Slightly larger for tablet */
  }
}

/* desktop */
@media only screen and (min-width: 1024px) {
  .model-grid {
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
  }

  .model-item {
    margin: 20px;
  }

  .model-image {
    width: 150px; /* Default size for desktop */
  }
}
